{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-6 pt-5">
           <h2 class="mb-5">Sign up</h2>
          <form method="post">
            {% csrf_token %}
            {{ form.username }}
            {{ form.email }}
            {{ form.password1 }}
            {{ form.password2 }}
            <button type="submit" class="btn btn-primary">Sign up</button>
          </form>
            <p class="pt-4">Or <a href="{% url 'login' %}">Login</a></p>
            {{ form.errors }}
        </div>
    </div>
{% endblock %}